[[source]]
url = "https://${NEXUS_USERNAME}:${NEXUS_PASSWORD}@nexus.global.picnicinternational.com/repository/pypi-public/simple/"
verify_ssl = true
name = "picnic"

[dev-packages]
picnic-guide = "==2.12.3"

[packages]
fuzzywuzzy = "~=0.18.0"
pandas = "~=1.4"
picnic-tools = "~=0.23.0"
requests = "~=2.22"
toolz = "~=0.11.0"

[requires]
python_version = "3.11"
