[[source]]
url = "https://'${NEXUS_USERNAME}':'${NEXUS_PASSWORD}'@nexus.global.picnicinternational.com/repository/pypi-public/simple/"
verify_ssl = true
name = "picnic"

[dev-packages]
picnic-guide = "==0.18.0"

[packages]
picnic-tools = "~=0.9.0"
pandas = "~=1.2"
fuzzywuzzy = "~=0.18.0"
requests = "~=2.22"
toolz = "~=0.9.0"

[requires]
python_version = "3.9"

